@import "variables.default";
@import "variables.bootstrap";
@import "node_modules/bootstrap/scss/bootstrap";
@import "mod.navbar";
@import "fontawesome/font-awesome";

body, html {
    min-height: 100%;
}

body > section {
    margin: 3rem 0;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
    margin: 0 auto;
}

.card {
    background-color: $bg-color;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.form-login input[type=email],
.form-login input[type=password],
.form-login input[type=text],
.form-login button {
    direction: ltr;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
    height: 44px;
}

.form-login .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}
